Django==4.2.11
pytest==8.4.2
pytest-django==4.11.1
coverage==7.4.2
pylint==2.17.5
flake8==7.1.0
mypy==1.5.1
bandit==1.8.2
safety==3.7.0
pytest-benchmark==5.2.3
locust==2.42.4.dev16
hypothesis==6.148.1
