apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
  namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: django-app
  template:
    metadata:
      labels:
        app: django-app
    spec:
      containers:
        - name: django-app
          image: ahmedsayedtalib/asto:latest
          ports:
            - containerPort: 8000
          command: ["python3","manage.py","runserver","0.0.0.0:8000"]
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: "asto.settings"
---
apiVersion: v1
kind: Service
metadata:
  name: django-app-service
  namespace: dev
spec:
  type: NodePort
  selector:
    app: django-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
      NodePort: 32323
